.Position {
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  width: 95%;
}

.Position h2 {
  margin: 30px auto;
}

.Position button {
  margin: 15px auto 30px;
}

.container {
  height: 100%;
  display: flex;
}

.form {
  display: inline-flex;
  width: 60%;
}

.data-data {
  display: inline-flex;
  width: 40%;
}

@media (min-width: 1080px) {
  .Position {
    width: 1024px;
  }
}
